# Virtual environment
.venv/

data/

# Compiled Python files
__pycache__/
*.pyc

# Distribution files
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor files
.idea/

.vscode/